h1, h2, p, .div2 {
	text-align: center;
}

h1.err {
	text-align: left;
}

.div2 {
	display: flex;
	justify-content: center;
}

.imgA {
	width: 500px;
}

@media screen and (max-width: 530px) {
	body {
		font-family: 'ヒラギノ角ゴ ProN';
	}

	.div2 {
		flex-direction: column;
	}

	.imgA {
		width: 90%;
	}
}