@CHARSET "UTF-8";
@font-face {
	font-family: 'password';
	src: url(../font/text-security-disc.ttf);
}

input {
	font-family: 'password';
}

@media screen and (max-width: 500px) {
	input {
		font-family: system-ui;
		-webkit-text-security: square;
	}
}